.footerCol {
  margin: block;
  margin-right: auto;
  margin-left: auto;
}

.contactLabel {
  margin-top: 3vh;
}

.footerText {
  color: blanchedalmond;
}

.footerLogo {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.032);
  border-radius: 50%;
}

.footerFoodImg {
  width: 50vw;
  border-radius: 40%;
  opacity: 0.9;
}

.footerLink {
  color: blanchedalmond !important;
  text-decoration: none;
}

.footerLink:visited {
  color: blanchedalmond;
}

.footerLink:active {
  color: blanchedalmond;
}

.footerLink:hover {
  scale: 1.05;
  transition: .5s;
  text-shadow: 2px 2px #770000;
  background-color: transparent;
  text-decoration: underline;
}

.footerLink:not(:hover) {
  transition: .5s;
}

.footerButton {
  color: blanchedalmond;
  font-size: 1.5em;
  background-color: #006a4e;
  border-radius: 12px;
  border: 2px solid #333333;
}

.footerButton:hover {
  scale: 1.05;
  transition: .5s;
}

.footerButton:not(:hover) {
  transition: .5s;
}

.socials {
  display: flex;
  justify-content: space-around;
}

.inputField {
  background-color: rgba(255, 255, 255, 0.032);
  color: blanchedalmond;
  margin-bottom: 1vh;
}