.footerCol {
  margin: block;
  margin-right: auto;
  margin-left: auto;
}

.contactLabel {
  margin-top: 3vh;
}

.footerText {
  color: blanchedalmond;
}

.footeritem {
  text-align: right;
}

.footerimg {
  background-color: rgba(255, 255, 255, 0.032);
  border-radius: 50%;
}

.footerlink {
  color: blanchedalmond !important;
}

.footerlink:visited {
  color: blanchedalmond;
}

.footerlink:active {
  color: blanchedalmond;
}

.footerlink:hover {
  color: blanchedalmond;
  background-color: transparent;
  text-decoration: underline;
}

.footerinput {
  background-color: #56595c79;
}

.footerbutton {
  margin-top: 3vh;
}