.galleryBackground {
  background-color: #242526;
}

.galleryHeading {
  color: blanchedalmond;
  font-size: 3em;
}

.galleryImage {
  margin-top: 2vh;
}

.galleryImage:hover {
  filter: grayscale(0.6);
  overflow: hidden;
  transform: scale(1.1);
  transition: .5s;
}

.galleryImage:not(:hover) {
  transition: .5s;
}


.galleryColumn {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 106, 78, 0.25);
}

.galleryLink {
  overflow: hidden;
}

@media (max-width: 768px) {
  .mobileImage {
    width: 80%;
    overflow: hidden;
    margin-top: 2vh;
    margin-bottom: 1vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.mobileHeadingHide {
  display: none;
}

@media (max-width: 768px) {
  .mobileHeading {
    text-align: center;
    align-items: center;
    color: blanchedalmond;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
  }
}

.galleryInstaLink {
  color: blanchedalmond;
}

.galleryInstaLink:hover {
  color: #770000;
  transition: .5s;
  scale: 1.05;
}

.galleryInstaLink:not(:hover) {
  transition: .5s;
}