.opaicCol {
  background-color: rgba(0, 106, 78, 0.05);
  border-radius: 15%;
}

.landingimage {
  width: 50vw;
  border-radius: 65%;
  opacity: 0.9;
}

@media (max-width: 700px) {
  .removeImage {
    display: none;
  }
}

.welcome {
  color: beige;
  font-size: 3em;
}

.welcomeMessage {
  color: blanchedalmond
}

.menuButton {
  color: blanchedalmond;
  font-size: 2em;
  background-color: #006a4e;
  border-radius: 12px;
  border: 2px solid #333333;
}

/* red 770000
green 006a4e
black? */