.landingbackground {
  background-color: #242526;
}

.opaicCol {
  background-color: rgba(0, 106, 78, 0.05);
  border-radius: 15%;
}

.landingimage {
  height: 60%;
  width: 60%;
  border-radius: 10%;
  opacity: 0.9;
}

@media (max-width: 700px) {
  .removeImage {
    display: none;
  }
}

.landingH1 {
  color: beige;
  font-size: 3em;
}

.welcomeMessage {
  color: blanchedalmond
}

.menuButton {
  color: blanchedalmond;
  font-size: 1.5em;
  background-color: #770000;
  border-radius: 12px;
  border: 2px solid #333333;
}

.menuButton:hover {
  scale: 1.05
}

.infoButton {
  color: blanchedalmond;
  font-size: 1.5em;
  background-color: #006a4e;
  border-radius: 12px;
  border: 2px solid #333333;
}

.infoButton:hover {
  scale: 1.05
}

.koreanFood {
  color: beige;
  text-shadow: 5px 5px #770000;
}

.karaokeNight {
  color: beige;
  text-shadow: 5px 5px #006a4e;
}

.koreaNight {
  height: 45vh;
  width: 100vw;
}

/* red 770000
green 006a4e
black? */