.topbarBackground {
  background-color: rgba(0, 106, 78, 1);
}

.topbarLink {
  color: blanchedalmond !important;
  text-align: right;
}

.topbarLink:visited {
  color: blanchedalmond;
}

.topbarLink:active {
  color: blanchedalmond;
}

.topbarLink:hover {
  color: blanchedalmond;
  scale: 1.05;
  transition: .5s;
  text-shadow: 2px 2px #770000;
  background-color: transparent;
  text-decoration: underline;
}

.topbarLink:not(:hover) {
  transition: .5s;
}