.topbarBackground {
  background-color: rgba(0, 106, 78, 1);
}

.topbarlink {
  color: blanchedalmond !important;
  text-align: right;
}

.topbarlink:visited {
  color: blanchedalmond;
}

.topbarlink:active {
  color: blanchedalmond;
}

.topbarlink:hover {
  color: blanchedalmond;
  scale: 1.05;
  text-shadow: 2px 2px #770000;
  background-color: transparent;
  text-decoration: underline;
}