/* red 770000
green 006a4e
black? */

::-webkit-scrollbar {
  background-color: #222831;
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 15px #333333;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  -webkit-box-shadow: inset 0 0 15px #770000;
}
